.Badge {
    border-radius: 6px !important;
    display: inline-block;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 24px;
    padding: 2px 6px;
    line-height: 1;
}

.Badge.points {
}

.Badge.badge {
    background: #0099cc !important;
}

.Badge__text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    color: limegreen;
}

.Badge__leaf {
    width: 18px;
    height: 18px;
    fill: lime !important;
    float: left;
    position: relative;
    top: 2px;
}
