.vertical-timeline {
    border-left: 1px solid #ccc;
    width: 80%;
}

.vertical-timeline .bp3-icon svg {
    margin-left: 0px;
    margin-top: 7px;
    left: 0;
    top: 31%;
}

.Achievement .vertical-timeline-element-date {
    float: none;
    text-align: left;
    display: block;
    color: #333;
}

.Achievement .vertical-timeline-element-content {
    padding: 0;
    box-shadow: 0 0 0 transparent;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.Achievement h3 {
    margin-top: 0;
}
.Achievement__points .Badge {
    margin: 0 !important;
}

.Achievement .Badge.badge {
    margin-top: 0;
    float: left;
}