.Profile {
    margin-top: 70px;
}
.Profile .profile {
    width: 100px;
    height: 100px;
    background-image: url(profile.jpg);
    border-radius: 100px;
    margin: 20px auto;
    text-align: center;
}
.Profile__level {
    margin-bottom: 24px;
    font-family: CustomFontBold;
    color: limegreen;
}
.Profile .info {
    text-align: center;
    line-height: 1.2;
    color: #333;
}

.Profile h2 {
    font-size: 1.4rem;
    font-family: CustomFont;
    letter-spacing: 1px;
}

.Profile__points {
    font-size: 4rem;
    font-family: CustomFont;
    line-height: 1;

}

.Profile__pointsText {
    line-height: 1;
    font-size: 0.6rem;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-family: CustomFont;

}