.Challenge {
    width: 140px;
    height: 140px;
    background: lightyellow;
    border-radius: 140px;
    border: 2px solid limegreen;
    text-align: center;
    display: flow-root;
    float: left;
    padding-top: 32px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.Challenge:first-child {
    display: block;
    float: none !important;
    margin: 0 auto 24px;
}

.Challenge .name, 
.Challenge .score, 
.Challenge .total {
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.7rem;
}