.Challenge {
    text-align: center;
    border-width: 2px;
    border-style: dotted;
    border-color: #ccc;
    background: white;
    display: block;
    float: left;
    padding-top: 36px;
    margin-right: 0.5em;
    margin-bottom: 24px;
    flex: 1;
    border-radius: 1000px;
    height: 200px;
    width: 200px;

}

.Challenge.complete {
    border-style: solid;
}

.Challenge__icon svg {
    width: 42px;
    height: 42px;
}

.Challenge .name {
    text-align: center;
    display: block;
    width: 80%;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 auto 12px;
    font-family: CustomFontBold;
    background: -webkit-linear-gradient(limegreen, #ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Challenge .score {
    text-align: center;
    display: block;
    width: 80%;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0 auto 12px;
    color: #333;
    font-family: CustomFontBold;
}

.Challenge .total {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    background: gold;
    border-radius: 8px;
    padding: 4px;
    color: white;
    width: auto;
    display: inline-block;
    margin: 12px auto;
}

.Challenge .total.complete {
    background: limegreen;
}

.Challenge.complete .name {
    color: #333;
}

/* CUSTOM CHALLENGES */
.Challenge.RED {
    border-color: red !important;
}

.Challenge.RED {
    border-color: red !important;
}

.Challenge.RED svg {
    color: red !important;
}

.Challenge.RED .name {
    background: -webkit-linear-gradient(red, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
