.Challenge {
    width: 31vh;
    height: 31vh;
    border-radius: 31vh;
    text-align: center;
    border: 2px solid limegreen;
    background: lightgray;
    display: block;
    float: left;
    padding-top: 48px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.Challenge__container {
    background: yellow;
    padding: 12px;
}

.Challenge .name, 
.Challenge .score {
    text-align: center;
    display: block;
    width: 80%;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0 auto 12px;
    color: #333;
}

.Challenge .total {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    background: limegreen;
    border-radius: 8px;
    padding: 4px;
    color: white;
    width: auto;
    display: inline-block;
    margin-top: 12px auto;
}


.Challenge.complete {
    background: white;
    border: 2px dotted limegreen;
}


.Challenge.complete .name {
    color: #333;
}