.Learn {
    padding: 24px;
    display: block;
}
.Learn__progress {
    margin-bottom: 24px;
}
.Learn__dashboard {
    margin-bottom: 24px;
    text-align: center;
    font-size: 0.8rem;
}

.Learn__dashboardHeader {
    margin-bottom: 24px;
    text-align: center;
    font-family: CustomFontBold;
    font-size: 1.2rem;
}

.Learn h1 .Learn p {
    text-align: center;
}