.Header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.Header .bp3-navbar {
    background: #333;
}
.Header h1 {
    font-family: CustomFont;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: limegreen !important;
    display: inline-block;
}

.Header__tag {
    display: inline-block;
    color: #777;
    font-family: CustomFont;
    text-transform: uppercase;

}

.Header__location {
    color: limegreen;
}

.Header__profileIcon > svg {
    margin-left: 24px;
    display: inline-block;
    margin-right: 12px;
    fill: #aaa !important;
}

.Header__location svg {
    margin-left: 12px;
    fill: limegreen;
}

.Header .bp3-navbar {
    padding: 0;
}

.Header .bp3-menu-item {
    color: #333 !important;
}

.Header__logo svg {
    margin-left: 24px;
    display: inline-block;
    margin-right: 12px;
    fill: lime !important;
}