.Header {
    width: 100%;
}

.Header .bp3-navbar {
    background: #333;
}
.Header h1 {
    font-family: CustomFontBold;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: limegreen !important;
}

/* .Header .bp3-navbar-group.bp3-align-right {
    width: 35%;
} */

/* .Header__pointsRemain {
    display: block;
    width: 100%;
    margin-left: 7px;
} */
/* .Header__points {
    font-size: 0.6rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: limegreen !important;
} */

.Header .bp3-navbar {
    padding: 0;
}

.Header .bp3-navbar-group svg {
    margin-left: 24px;
    display: inline-block;
    margin-right: 12px;
    fill: limegreen !important;
}