.vertical-timeline {
    border-left: 5px solid #efefef;
    width: 80%;
}

.vertical-timeline .bp3-icon svg {
    margin-left: 0px;
    margin-top: 7px;
    left: 30%;
    top: 31%;
}

.Achievement__points {
    position: relative;
    top: -10px;
}