
/* .Me .bp3-tab {
        width:50%;
        text-align: center;
} */

.Dashboard {
        margin: 24px;
}


.Dashboard .bp3-tab {
        width:50%;
        text-align: center;
        height: 50px;
        font-family: CustomFont;
        font-size: 1.2rem;
        line-height: 50px;
}

.Dashboard .bp3-tab[aria-selected="true"] {
        color: white !important;
        background-color: limegreen !important;
        box-shadow: inset 0 -3px 0 limegreen !important;
}