.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.footer .bp3-navbar {
    background: #333;
    padding: 0;
}

.footer a {
    display: inline-block;
    width: 33%;
}

.footer a .bp3-button-text,
.footer a:link .bp3-button-text,
.footer a:visited .bp3-button-text {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(lightgreen, darkgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer a.active .bp3-button-text
 {
    color: white !important;
    background: -webkit-linear-gradient(#cccccc, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {           
    .footer a .bp3-button-text,
    .footer a:link .bp3-button-text,
    .footer a:visited .bp3-button-text {
        font-size: 0.7rem;
    }
}
.footer button {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.footer svg {
    fill: limegreen !important;
}


.footer  a.active svg {
    fill: lime !important;
}