@font-face {
  font-family: CustomFont;
  src: url("/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: CustomFontBold;
  src: url("/RobotoCondensed-Bold.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: CustomFontBold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, a:link, a:hover {
  color: limegreen;
  text-decoration: none !important;
}
.container {
  text-align: center;
  margin: 80px 24px 24px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.bottomSpace {
  margin-bottom: 24px;
}

.clear {
  clear: both;
}


.bottomMargin {
  margin-bottom: 12px;
}

.leftMargin {
  margin-left: 12px;
}

.rightMargin {
  margin-right: 12px;
}

/* BPJS Overrides */
.bp3-button {
  box-shadow: 0 0 0 transparent !important;
  height: 50px;
  font-family: CustomFontBold;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.bp3-button.bp3-intent-info {
  color: #777;
  background-color: #efefef;
}